{% extends 'base.html' %}

{% block title %} Add Game {% endblock %} 


{% block content %}

    <div class="container-fluid">

        <div class="row search-game-row">
           
            <div class="col-12 col-md-10 col-lg-8 mx-auto">
                <form action="/search_results" class="card add-game-search-bar card-sm">

                    <h4 class="mx-auto">Search for a Game</h4>



                    <div class="card-body add-game-search-bar row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                

                            <div class="col">
                                <input type="text" class="form-control form-control-borderless src_fild"  placeholder="Search Here" name="game">      
                            </div>

                            
                            <div class="col-auto">
                                <input class="btn  bg-transparent search-btn form-control " value="Search" type="submit">
                           </div>

                    </div>
                </form>
            </div>

{% endblock %}
            





   