{% extends 'base.html' %}

{% block title %}{{ current_user.fname }}'s Reviews  {% endblock %} 


{% block content %}

    <div style="padding-bottom: 100px;" class="container-fluid">

        {% for message in get_flashed_messages() %}
        <p style="margin-left: 10px;" class="flash"  id="homepage-flash">{{ message }}</p>
        {% endfor %}

        <h1 style="margin-left: 10px;">{{ current_user.fname }}'s Reviews</h1> <br>

        <button onclick="location.href='/view_backlog'" type="button" class="btn " style="background-color: transparent; color: white;border-color: white; float: left; margin-left: 10px;">Back</button> 
        <!-- <a class="btn" style="float: right; margin-left:10px; background-color: transparent; color: white;border-color: white;" href="/select_review_to_delete">Delete Review</a>
        <a class="btn" style="float: right; margin-left:10px; background-color: transparent; color: white;border-color: white;" href="/select_review_to_edit">Edit Review</a> -->
        <a class="btn" style="float: left; margin-left:10px; background-color: transparent; color: white;border-color: white;" href="/add_review">Add Review</a>

        <div class="row row-cols-1">
            {% for review in reviews %}
                    <div class="col">
                        <div class="card review-cards mb-4">
                            <div class="card-body"> 
                                <h2 class="card-subtitle mb-3" >{{ review.game.title}}</h2>
                                <div class="card-text">
                                    <p>Score: {{ review.score}}</p>   
                                    <p>Played On: {{ review.platform }}</p>
                                    <p> Completion Time: {{ review.completion_time }} Hours</p>  
                                    <p>Review: {{ review.body }}</p> 
                                </div>
                            </div>
                        </div>

                    </div>
            {% endfor %}

        </div>
    </div>

    {% endblock %}


        


